.discover {
  background: $gry;

  .formWrapper {
    @include flexCenter (null, center, flex, null, space-evenly);
    background: $whtTwo;
    border-radius: 15px;
    font-size: 1.25rem;
    padding: 5%;
  }
}