.hero {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../assets/heroTheatreComp.jpg) no-repeat fixed;
	background-size: cover;
  @include flexCenter (null, center, flex, null, null);
  height: 100vh;

  .title {
    padding: 0%;

    p {
      padding: 0%;
      text-align: left;
      text-shadow: 2.5px 2px 10px $blk;
    }
  }
}

// media for tabletSmall @ 768px

@include tabletSmall {
  
  .title {
    width: 100%;
  }
}