.hero {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../assets/heroPopcornComp.jpg) no-repeat fixed;
	background-size: cover;
  @include flexCenter (null, center, flex, null, null);
  height: 100vh;

  .title {
    padding: 0%;

    p {
      color: $gry;
      padding: 0%;
      text-align: left;
    }
  }
}

// styling for rellax effect.

.boxOne,
.boxTwo {
  position: absolute;
}

.boxOne {
  top: -5%;
}

.boxTwo {
  top: 5%;
}

// media for tabletSmall @ 768px

@include tabletSmall {

  .title {
    width: 100%;
  }
}

// media for mobileLarge @ 425px {

@include mobileLarge {
  
  .hero .title {

    h1 {
      font-size: 3rem;
      text-align: center;
    }

    p {
      font-size: 1rem;
      text-align: center;
    }
  }
}