.result {
  // background: $gry;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
  .resultContainer{
    @include flexCenter (null, center, flex, null, null);

    .resultText{
      padding-right: 5%;
      width: 70%;
      background: rgba(232, 236, 241, .6);
    }

    .resultContent {
      // background: rgba(0, 0, 0, 0.5);
      border-radius: 15px;
      box-shadow: 5px 5px 15px $blk;
      padding: 4.5%;
    }

    .resultImg{
      width: 30%;
    }

    .resultImg img {
      box-shadow: 5px 5px 15px $blk;
      margin: 15% 0%;
    }
  }
  
  .resultText {
    @include flexCenter (null, left, flex, column, null);
    height: 100%;

    h2{
      padding:0;
    }

    p {
      font-size: 0.8rem;
      line-height: 1.5;
    }

    i {
      color: $colFirst;
    }
  }
}

// media for tabletSmall  @ 768px

@include tabletSmall {

  .result {

    .resultContainer {
      @include flexCenter (null, null, flex, column, null);

      .resultText {
        padding: 0%;
        width: 100%;
      }

      .resultImg {
        width: 100%;
      }
    }
  }
}