// FONT

$fontFirst: 'Archivo', sans-serif;
$fontSecond: 'Montserrat', sans-serif;

// COLOR PALETTE 

$colFirst: #FFBA39;
$colSecond: #523AB5;
$colThird: #25A597;
$colFourth: #3560AF;
$colCompliment: #567BBF;

$wht: #FFFFFF;
$blk: #000000;
$gry: #404040;
$whtTwo: #FAFAFA;

// LINEWEIGHT

$light: '300';
$normal: '400';
$semibold: '500';
$bold: '700';

// GENERAL

html {
	background: $gry;
	font-family: $fontSecond;
	font-size: 125%;
	scroll-behavior: smooth;
}

img {
	display: block;
	height: auto;
	width: 100%;
}

h2, h3, h5 {
  margin: 0%;
	text-align: left;
}

p {
	@include fontProperty ($whtTwo, $fontSecond, 1.25rem, null);
	color: $whtTwo;
}

h1 {
	@include fontProperty ($whtTwo, $fontFirst, 4.5rem, $bold);
	margin-bottom: 5%;
	text-transform: uppercase;
	text-shadow: .5px .5px 2px $gry;
}

h2 {
	@include fontProperty ($colFirst, $fontFirst, 2.5rem, $light);
	padding: 2.5% 0%;
}

h3 {
	@include fontProperty ($colFirst, $fontSecond, 2.5rem, $light);
	letter-spacing: 2px;
}

h4 {
		@include fontProperty ($whtTwo, $fontSecond, 0.8rem, $light);
}

h5 {
		@include fontProperty ($colFirst, $fontSecond, 2rem, $light);
}

.wrapper {
	margin: 0% 10%;
}

input,
label {
	transition: all .5s;
	cursor: pointer;
}

input:focus {
	outline: $colFirst;
}

label {
	color: $gry;
}

a {
	text-decoration: none;
}

// media for tabletSmall @ 768px 

@include tabletSmall {

  .wrapper {
		margin: 0% 5%;
	}
}

// media for mobileLarge @ 425px {

@include mobileLarge {

	h2 {
		font-size: 2rem;
		text-align: center;
		padding: 5% 0%;
	}

	label {
		font-size: 0.8rem;
	}
}

// media for mobileSmall @ 425px {

@include mobileSmall {

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 2rem;
	}

	h5 {
		font-size: 1.5rem;
	}
}