// FONT

$fontFirst: 'Archivo', sans-serif;
$fontSecond: 'Montserrat', sans-serif;

// COLOR PALETTE 

$colFirst: #FF1494;
$colSecond: #14FF23;
$colThird: #FCFF14;
$colFourth: #FE71BE;
$colCompliment: #AEFF14;

$wht: #FFFFFF;
$blk: #000000;
$gry: #404040;
$whtTwo: #FAFAFA;

// $buttonHover: #FFDCAA;
// $shadow: #C0C0C0;

// LINEWEIGHT

$light: '300';
$normal: '400';
$semibold: '500';
$bold: '700';

// GENERAL

html {
	background: $gry;
	font-family: $fontSecond;
	font-size: 125%;
	scroll-behavior: smooth;
}

img {
	display: block;
	height: auto;
	width: 100%;
}

input,
label {
	transition: all .5s;
	cursor: pointer;
}

h1, h2, h3 {
  margin: 0%;
	text-align: center;
	text-shadow: 2.5px 2px 10px $blk;
}

p {
	@include fontProperty ($whtTwo, $fontSecond, 1.25rem, null)
}

h1 {
	@include fontProperty ($colFirst, $fontFirst, 4.5rem, $bold);
	text-transform: uppercase;
	text-shadow: 2.5px 2px 10px $blk;
  padding: 0 15%;
}

h2 {
	@include fontProperty ($colFirst, $fontFirst, 1.5rem, $light);
	padding: 2.5% 0;
}

.wrapper {
  margin: 0 15%;
}